/*Brand Customization for BigBlueButton Clinet*/

:root {
    --color-link-hover: #b56d00 !important;
    --list-item-bg-hover: #f1ebe2  !important;
    --list-item-bg: #f5f2ef !important;
    --loader-bg: #4e342e  !important;
    --poll-blue: #fb8c00 !important;
    --color-danger: #dc3545 !important;
    --color-gray-dark: rgb(78 52 46) !important;
    --color-warning: #ffc107 !important;
    --color-success: #28a745 !important;

    --systemMessage-background-color: #fbf9f7 !important;
    --systemMessage-border-color: #d8d2c9 !important;
    --btn-primary-color: #4e342e !important;
    --poll-stats-border-color: #e2ded8 !important;
    --color-off-white: #f9f7f4 !important;
    --color-primary: #fb8c00 !important;
    --color-blue-light: #ffad14 !important;
    --color-blue-lighter: #ffad14b3 !important;
    --color-blue-lightest: #ffad1463 !important;
}

.overlay--Z1jBtUT {
    background-color: rgba(78 52 46 0.75) !important;
}

.overlay--1aTlbi {
    background-color: #fff !important;
}

.scrollableList--Z2s6Her {
    background-color: transparent !important
}

body {
    background-color: #3e2723 !important;
}

.audioBtn--1H6rCK span:first-child {
    background-color: #fbf5ec !important;
    border: 5px solid #fff1df  !important;;
!important
}

.notificationsBar--ZrXHnR {
    height: 50px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box !important;
    position: relative !important;
    z-index: 9 !important;
}

.background--2m5HNk {
    border-top: 50px solid #fb8c00 !important
}

.audioBtn--1H6rCK:hover span:first-child, .audioBtn--1H6rCK:focus span:first-child {
    background-color: #fdf9f3 !important;
}
